# Visual Studio
.vs/
*.vcxproj.user
*.suo
*.user
*.userosscache
*.sln.docstates

# Build folders
Debug/
Release/
x64/
x86/

# Compiled object files
*.obj
*.o
*.exe
*.dll
*.pdb

# Binary data files que você pode querer ignorar (exemplo)
*.bin

# Logs and databases
*.log
*.sql
*.sqlite

# Others
*.cache
*.ilk
*.idb
*.ipch

# Ignore backup and temporary files
*~
*.tmp
*.temp
